<!DOCTYPE html>
<html>
<head>
    <title>Enrollments</title>
</head>
<body>
    <h1>Enrollments</h1>
    <table border="1" cellpadding="5">
        <tr>
            <th>ID</th>
            <th>Student</th>
            <th>Type (schedule)</th>
            <th>Start</th>
            <th>End</th>
            <th>Amount (final)</th>
            <th>Date</th>
        </tr>
        {% for enrollment in enrollments %}
        <tr>
            <td>{{ enrollment.id }}</td>
            <td>{{ enrollment.student }}</td>
            <td>{{ enrollment.schedule_type }}</td>
            <td>{{ enrollment.enrollment_period_start }}</td>
            <td>{{ enrollment.enrollment_period_end }}</td>
            <td>{{ enrollment.final_amount }}</td>
            <td>{{ enrollment.enrollment_date }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
