<!DOCTYPE html>
<html>
<head>
    <title>Students</title>
</head>
<body>
    <h1>Students</h1>
    <table border="1" cellpadding="5">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Birth date</th>
            <th>Email</th>
            <th>School</th>
            <th>Group</th>
            <th>GDPR</th>
        </tr>
        {% for student in students %}
        <tr>
            <td>{{ student.id }}</td>
            <td>{{ student.first_name }} {{ student.last_name }}</td>
            <td>{{ student.birth_date }}</td>
            <td>{{ student.email }}</td>
            <td>{{ student.school }}</td>
            <td>{{ student.group }}</td>
            <td>{{ student.gdpr }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
