<!DOCTYPE html>
<html>
<head>
    <title>Teachers</title>
</head>
<body>
    <h1>Teachers</h1>
    <table border="1" cellpadding="5">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
        </tr>
        {% for teacher in teachers %}
        <tr>
            <td>{{ teacher.id }}</td>
            <td>{{ teacher.first_name }} {{ teacher.last_name }}</td>
            <td>{{ teacher.email }}</td>
            <td>{{ teacher.phone }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
