<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Five a Day{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/email.css' %}">
    {% block extra_css %}{% endblock %}
    {% block extra_head %}{% endblock %}
</head>
<body>
    <div class="email-container">
        <div class="email-content">
            {% block content %}{% endblock %}
        </div>
        <div class="email-footer">
            <div data-smartmail="gmail_signature" dir="ltr">
                <div dir="ltr">
                    <div>
                        <div><br /></div>
                        <div>
                            <b style="background-color: rgb(41, 41, 41) !important;" data-ogsb="white">
                                <font face="trebuchet ms,sans-serif" size="4" color="rgb(235, 106, 255)" style="color: rgb(235, 106, 255) !important;" data-ogsc="" data-ogac="#9900FF">
                                    <u style="color: rgb(235, 106, 255) !important;" data-ogsc="">Five a Day English Academy</u>
                                </font>
                            </b>
                        </div>
                        <div>
                            <b>
                                <i><font face="trebuchet ms,sans-serif">C/Hermanos Jiménez 25</font></i>
                            </b>
                        </div>
                        <div>
                            <b>
                                <i><font face="trebuchet ms,sans-serif">967 049 096 - 613 481 141</font></i>
                            </b>
                        </div>
                        <div>
                            <a
                                data-auth="NotApplicable"
                                rel="noopener noreferrer"
                                target="_blank"
                                href="https://www.fiveadayenglish.com/"
                                data-linkindex="0"
                                title="https://www.fiveadayenglish.com/"
                                style="color: rgb(219, 151, 255) !important;"
                                data-ogsc=""
                            >
                                <i style="color: rgb(219, 151, 255) !important;" data-ogsc="">
                                    <font face="trebuchet ms,sans-serif" color="rgb(212, 144, 255)" style="color: rgb(212, 144, 255) !important;" data-ogsc="" data-ogac="blue">www.fiveadayenglish.com</font>
                                </i>
                            </a>
                        </div>
                        <div><br /></div>
                    </div>
                    <div><img height="268" width="420" src="https://ci3.googleusercontent.com/mail-sig/AIorK4ykC8m9ptc_MWVMqp002pDoZ_zHFhkWJbP6Re5BtlT3e6o9MQmzF7cvGVoeNsqBZeVvRCaqrxk" data-imagetype="External"/><br /></div>
                    <div><br /></div>
                    <div>
                        <a
                            style="font-size: x-small; color: rgb(219, 151, 255) !important;"
                            data-auth="NotApplicable"
                            rel="noopener noreferrer"
                            target="_blank"
                            href="https://www.instagram.com/fiveadayenglish/"
                            data-linkindex="1"
                            title="https://www.instagram.com/fiveadayenglish/"
                            data-ogsc=""
                        >
                            <img
                                alt="Instagram"
                                src="https://static.wixstatic.com/media/8d6893330740455c96d218258a458aa4.png/v1/fill/w_49,h_49,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/8d6893330740455c96d218258a458aa4.png"
                                data-imagetype="External"
                                style="color: rgb(219, 151, 255) !important;"
                                data-ogsc=""
                            />
                        </a>
                        <span style="font-size: x-small;">&nbsp; &nbsp; &nbsp;&nbsp;</span>
                        <a
                            style="font-size: x-small; color: rgb(219, 151, 255) !important;"
                            data-auth="NotApplicable"
                            rel="noopener noreferrer"
                            target="_blank"
                            href="https://www.facebook.com/profile.php?id=61550744760027"
                            data-linkindex="2"
                            title="https://www.facebook.com/profile.php?id=61550744760027"
                            data-ogsc=""
                        >
                            <img
                                alt="Facebook"
                                src="https://static.wixstatic.com/media/e316f544f9094143b9eac01f1f19e697.png/v1/fill/w_49,h_49,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/e316f544f9094143b9eac01f1f19e697.png"
                                data-imagetype="External"
                                style="color: rgb(219, 151, 255) !important;"
                                data-ogsc=""
                            />
                        </a>
                        <br />
                    </div>
                    <div>
                        <font face="Calibri,sans-serif" color="rgb(168, 197, 255)" style="color: rgb(168, 197, 255) !important;" data-ogsc="" data-ogac="#1F497D">
                            <span style="font-size: 16px; color: rgb(168, 197, 255) !important;" data-ogsc="">--</span>
                        </font>
                    </div>
                </div>
            </div>
        </div>
        <div class="email-footer">
            {% block footer %}       
                    <div>
                        <p style="color: rgb(255, 195, 255) !important;" data-ogsc="rgb(80, 0, 80)">
                            <b style="color: rgb(255, 195, 255) !important;" data-ogsc="">
                                <span style="color: rgb(255, 255, 255) !important; font-size: 7.5pt;" data-ogsc="black"><u style="color: rgb(255, 255, 255) !important;" data-ogsc="">AVISO LEGAL</u></span>
                            </b>
                        </p>
                        <p style="color: rgb(255, 195, 255) !important;" data-ogsc="rgb(80, 0, 80)">
                            <b style="color: rgb(255, 195, 255) !important;" data-ogsc="">
                                <span style="color: rgb(255, 255, 255) !important; font-size: 7.5pt;" data-ogsc="black">
                                    <u style="color: rgb(255, 255, 255) !important;" data-ogsc=""><br /> </u>
                                </span>
                            </b>
                        </p>
                        <p style="color: rgb(255, 195, 255) !important;" data-ogsc="rgb(80, 0, 80)">
                            <b style="color: rgb(255, 195, 255) !important;" data-ogsc=""><span style="color: rgb(255, 255, 255) !important; font-size: 7.5pt;" data-ogsc="black">CONFIDENCIALIDAD:&nbsp;</span></b>
                            <span style="color: rgb(255, 255, 255) !important; font-size: 7.5pt;" data-ogsc="black">
                                La información de este correo electrónico es privada, confidencial, y para uso exclusivo de su destinatario. Si no eres el destinatario correcto, o lo has recibido por error, te informamos que está totalmente prohibido su
                                divulgación, distribución o reproducción por Ley. Por favor, notifícanoslo y procede a su destrucción sin continuar su lectura.<u style="color: rgb(255, 255, 255) !important;" data-ogsc=""></u>
                                <u style="color: rgb(255, 255, 255) !important;" data-ogsc=""></u>
                            </span>
                        </p>
                        <div>
                            <b style="color: rgb(255, 195, 255) !important;" data-ogsc="rgb(80, 0, 80)"><span style="color: rgb(255, 255, 255) !important; font-size: 7.5pt;" data-ogsc="black">PROTECCIÓN DE DATOS:</span></b>
                            <font color="rgb(255, 255, 255)" style="color: rgb(255, 255, 255) !important;" data-ogsc="" data-ogac="black"><span style="font-size: 7.5pt; color: rgb(255, 255, 255) !important;" data-ogsc="">&nbsp;</span></font>
                            <b style="color: rgb(255, 255, 255) !important; font-size: 7.5pt;" data-ogsc="black">Responsable: Silvia Yubitza Moreno Carlín. Finalidad:</b>
                            <font color="rgb(255, 255, 255)" style="color: rgb(255, 255, 255) !important;" data-ogsc="" data-ogac="black">
                                <span style="font-size: 7.5pt; color: rgb(255, 255, 255) !important;" data-ogsc="">&nbsp;Gestionar las comunicaciones realizadas a través del correo electrónico de los servicios prestados.&nbsp;</span>
                            </font>
                            <b style="color: rgb(255, 255, 255) !important; font-size: 7.5pt;" data-ogsc="black">Legitimación:</b>
                            <font color="rgb(255, 255, 255)" style="color: rgb(255, 255, 255) !important;" data-ogsc="" data-ogac="black">
                                <span style="font-size: 7.5pt; color: rgb(255, 255, 255) !important;" data-ogsc="">&nbsp;Ejecución de un contrato e interés legítimo del responsable.&nbsp;</span>
                            </font>
                            <b style="color: rgb(255, 255, 255) !important; font-size: 7.5pt;" data-ogsc="black">Destinatarios:</b>
                            <font color="rgb(255, 255, 255)" style="color: rgb(255, 255, 255) !important;" data-ogsc="" data-ogac="black">
                                <span style="font-size: 7.5pt; color: rgb(255, 255, 255) !important;" data-ogsc="">&nbsp;No se cederán datos a terceros salvo obligación legal.&nbsp;</span>
                            </font>
                            <b style="color: rgb(255, 255, 255) !important; font-size: 7.5pt;" data-ogsc="black">Procedencia:</b>
                            <font color="rgb(255, 255, 255)" style="color: rgb(255, 255, 255) !important;" data-ogsc="" data-ogac="black">
                                <span style="font-size: 7.5pt; color: rgb(255, 255, 255) !important;" data-ogsc="">&nbsp;El propio interesado.&nbsp;</span>
                            </font>
                            <b style="color: rgb(255, 255, 255) !important; font-size: 7.5pt;" data-ogsc="black">Derechos:</b>
                            <font color="rgb(255, 255, 255)" style="color: rgb(255, 255, 255) !important;" data-ogsc="" data-ogac="black">
                                <span style="font-size: 7.5pt; color: rgb(255, 255, 255) !important;" data-ogsc="">
                                    &nbsp;Tiene derecho a acceder, rectificar y suprimir los datos, así como otros derechos, indicados en la información adicional, que puede ejercer dirigiéndose
                                </span>
                                <span style="font-size: 10px; color: rgb(255, 255, 255) !important;" data-ogsc="">&nbsp;por escrito a Silvia Yubitza Moreno Carlín (C/Hermanos Jiménez 25 bajo, 02004 Albacete),&nbsp;</span>
                                <span style="font-size: 10px; color: rgb(255, 255, 255) !important;" data-ogsc="">
                                    adjuntando fotocopia del documento acreditativo de identidad o bien por correo electrónico a
                                    <a href="mailto:hellofiveaday@gmail.com" data-linkindex="3" title="mailto:hellofiveaday@gmail.com" style="color: rgb(219, 151, 255) !important;" data-ogsc="">hellofiveaday@gmail.com</a>.
                                </span>
                            </font>
                            <br />
                        </div>
                        <div>
                            <span style="color: rgb(86, 184, 77) !important; font-size: 9pt; font-family: Segoe UI, sans-serif, serif, EmojiFont;" data-ogsc="forestgreen">
                                🌳 Por favor no imprimas este correo a no ser que sea necesario. El planeta te lo agradecerá.
                            </span>
                            <span style="color: rgb(168, 197, 255) !important; font-size: 16px; font-family: Calibri, sans-serif, serif, EmojiFont;" data-ogsc="rgb(31, 73, 125)"><br /> </span>
                        </div>
                    </div>
            {% endblock %}
        </div>
    </div>
</body>
</html>
