{% extends 'emails/base_email.html' %}
{% load static %}

{% block content %}

<p>Nos complace comunicarles que {{ student }} ha sido {% if genero == "f" %}aceptada{% else %}aceptado{% endif %} en nuestra academia para el curso {{ academic_year }} y su matriculación ha sido tramitada 🎉.</p>
<br>
<p>Por favor, encuentren adjunto un pdf informativo sobre su grupo y horario, así como la normativa de la academia.</p>
<br>
<p>Nos llena de ilusión que forméis parte de nuestra comunidad y estamos encantadas de poder contribuir satisfactoriamente al proceso de aprendizaje del inglés.</p>
<br>
<p>Igualmente, adjuntamos los recibos correspondientes a la matrícula y el mes de {{ month }}. Por favor, compruebe que esté correcto.</p>
<br>
<p>Estamos en contacto. Vuestro feedback es fundamental para seguir creciendo como academia.</p>
<br>
<p>Kind regards,<br>El equipo de Five a Day</p>

{% endblock %}
