{% extends 'emails/base_email.html' %}
{% load static %}

{% block content %}

<img src="cid:birthday_image"
     alt="Happy Birthday"
     width="452"
     style="max-width: 100%; height: auto;">
<br>
<figcaption>
    Happy Birthday
</figcaption>
<br>
<p>May this special day bring you endless happiness and unforgettable memories.</p>
<br>
<p>Esperamos que {{ name }} tenga un cumpleaños fantástico. Esperamos que este día especial le traiga felicidad infinita y recuerdos inolvidables.</p>
<br>
<p>Kind regards,</p>

{% endblock %}
